.popup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba($clr-grey-dark-3, 0.95);
	z-index: 3000;

	&__content {
		background-color: $clr-white;
		height: 65vh;
		width: 75%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
